[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Q To-Do
Exec=/opt/qtodo/bin/qtodo_harmattan.sh
Icon=/usr/share/icons/hicolor/80x80/apps/qtodo80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
